body {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(
    ellipse farthest-corner at 10px 10px,
    #1ce0bc,
    #1ce0bc 50%,
    #ffffff 50%
  );
  background-size: 30px 30px;
}
