body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      150deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      30deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      150deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      60deg,
      #444cf777 25%,
      transparent 25.5%,
      transparent 75%,
      #444cf777 75%,
      #444cf777
    ),
    linear-gradient(
      60deg,
      #444cf777 25%,
      transparent 25.5%,
      transparent 75%,
      #444cf777 75%,
      #444cf777
    );
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
