body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #ff69b4 12%,
      transparent 12.5%,
      transparent 87%,
      #ff69b4 87.5%,
      #ff69b4
    ),
    linear-gradient(
      150deg,
      #ff69b4 12%,
      transparent 12.5%,
      transparent 87%,
      #ff69b4 87.5%,
      #ff69b4
    ),
    linear-gradient(
      30deg,
      #ff69b4 12%,
      transparent 12.5%,
      transparent 87%,
      #ff69b4 87.5%,
      #ff69b4
    ),
    linear-gradient(
      150deg,
      #ff69b4 12%,
      transparent 12.5%,
      transparent 87%,
      #ff69b4 87.5%,
      #ff69b4
    ),
    linear-gradient(
      60deg,
      #ff69b477 25%,
      transparent 25.5%,
      transparent 75%,
      #ff69b477 75%,
      #ff69b477
    ),
    linear-gradient(
      60deg,
      #ff69b477 25%,
      transparent 25.5%,
      transparent 75%,
      #ff69b477 75%,
      #ff69b477
    );
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
